.destination {
    width: 192rem;
    background-color: var(--main-color);
    padding-top: 10rem;
    padding-bottom: 20rem;
}

.destination>h2 {
    font-size: 6.2rem;
    line-height: 112%;
    text-align: center;
    color: var(--main-therd-color);
    text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.15);
    margin-bottom: 1.5rem;
}

.destination>p {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.7rem;
    text-align: center;
    opacity: 0.7;
    color: var(--main-therd-color);
    width: 44.6%;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.des_parts {
    display: flex;
    margin: 0 15rem;
    justify-content: center;
    gap: 4rem;
    position: relative;
}

.img>.des_img1 {
    position: absolute;
    object-fit: contain;
}


.img>.des_img2 {
    position: absolute;
    object-fit: contain;
}

.part1>.img>.des_img1 {
    left: 4rem;
}

.part1>.img>.des_img2 {
    left: 35rem;
}

.part2>.img>.des_img1 {
    left: 56.5rem;
}

.part2>.img>.des_img2 {
    left: 87.5rem;
}

.part3>.img>.des_img1 {
    right: 39rem;
}

.part3>.img>.des_img2 {
    right: 4rem;
}


.img_main {
    width: 48rem;
    object-fit: contain;
}

.about {
    background-color: var(--main-therd-color);
    padding: 2rem;
}

.about>.where {
    display: flex;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    color: var(--main-color);
    gap: 2rem;

}

.about>.data {
    display: flex;
    justify-content: space-between;
}

.where {
    margin-bottom: 2.5rem;
}

.where>img {
    width: 3rem;
    object-fit: contain;
}

.data>.location {
    display: flex;
    gap: 1.8rem;
}

.data>.time {
    display: flex;
    gap: 1rem;
}

.data img {
    width: 2rem;
    object-fit: contain;
}

.location>p {
    font-weight: 600;
    font-size: 22px;
    line-height: 125%;
    color: var(--main-color);
}

.time>p {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: var(--main-color);
    margin: auto 0;
}

.arrow_left {
    position: absolute;
    left: 0;
    top: 20rem;
    padding: 3rem;
    border-radius: 50%;
    background-color: var(--main-therd-color);
}

.arrow_right {
    position: absolute;
    right: 0;
    top: 20rem;
    padding: 3rem;
    border-radius: 50%;
    background-color: var(--main-therd-color);
}


.newsletter {
    width: 192rem;
    background-color: var(--main-color);
    padding-bottom: 10rem;
}

.newsletter>img {
    width: 152rem;
    display: block;
    margin: 0 auto;
}

.letter_about {
    background-color: var(--main-second-color);
    text-align: center;
    margin: 0 15rem;
    border-radius: 5rem;
    padding-top: 7rem;
}

.letter_about>h2 {
    font-size: 6.2rem;
    line-height: 112%;
    color: var(--main-therd-color);
    margin-bottom: 1.5rem;
}

.letter_about>p {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.7rem;
    color: var(--main-therd-color);
    margin: 0 38.2rem;
    margin-bottom: 5rem;
}

form {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 7rem;
}

.letter_about>form>input {
    width: 105rem;
    font-size: 3rem;
    line-height: 3.5rem;
    padding: 3.5rem 0 3.5rem 5rem;
    padding-right: 5rem;
}

.letter_about>form>button {
    width: 30rem;
    margin-right: 1.5rem;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.5rem;
    border: none;
    padding: 2rem 8.2rem;
    background-color: #00E0C7;
}